<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2 ?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap"
        rel="stylesheet">
    <!-- Fuentes de Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">
    
    <!-- Enlace CSS-->
    <link rel="stylesheet" href="/src/css/font_google.css">
</head>
<main>
<header>
    <h1>Sebastian Bernal, Projects</h1>
    
</header>
<nav>
        <ul>
            <section><a href="../../index.html">Go home</a></section>     
    </nav>
</main>
<body>
    <div class="projects-container">
        <div class="project-card">
            <h2>Inventario Riwi</h2>
            <p>Symple Console project developed in Python. </p>
            <p><a href="https://github.com/sebasfbb07/InventariorRiwi.git" target="_blank">View on GitHub</a></p>
                    </div>
        <div class="project-card"  >
            <h2>Calculador de propina</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
             <p><a href="https://github.com/sebasfbb07/CalculadorPropina.git" target="_blank">View on GitHub</a></p>
        </div>
        <div class="project-card">
            <h2>Modulo de ventas</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
            <p><a href="https://github.com/sebasfbb07/ModuloDeVentas-13.git" target="_blank">View on GitHub</a></p>
        </div>
    </div>
</body>